/* CUSTOM FONT */

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* CUSTOM FONT */


/* WEBSITE FORMAT */

.navbar{
  position: sticky;
}

.one_row{
  width: 100%;
  height: 60vh;
  display: flex;
}

.sub_row{
  width: 100%;
  height: 20vh;
  display: flex;
}

.oneperthree{
  width: 33%;
  height: 100%;
}

.twoperthree{
  width: 65%;
  height: 100%;
}

.oneperfour{
  width: 32%;
}

.halfhalf{
  width: 49%;
}

@media screen and (max-width: 1200px) {
  .oneperthree{
    width: 100%;
    height: 48%;
  }

  .twoperthree{
    width: 100%;
    height: 48%;
  }

  .halfhalf{
    width: 100%;
    height: 49%;
  }

  .oneperfour{
    width: 100%;
    height: 29%;
  }

  .one_row{
    height: 150vh;
    flex-direction: column;
  }

  .sub_row{
    height: 75vh;
    flex-direction: column;
  }

}

/* WEBSITE FORMAT */


/* FIRST PAGE */

#profilepic{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}